<mat-card (click)="openDialog()" class="card-item-wrapper">
    <img [src]="'../../../assets/images/' + product.image" alt="Product image" class="cart-item-image" mat-card-image>
    <mat-card-content class="content-section">
        <div class="info-section">
            <mat-card-title>{{product.name}}</mat-card-title>
            <app-rating [value]="product.customerRating"/>
        </div>
        <div class="price-section">
            {{product.price | currency}}
        </div>
    </mat-card-content>
</mat-card>