.no-page-found-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.back-to-catalogue-btn
{
    background-color: green!important;
    color: #ffffff!important;
}